*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    }
    
    body{
        background-color: #000000;
    }
    .moon{
        background-color: #000000;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
        margin-top: 5rem;
    }
    .moon::before{
        content: "";
        background-color: #fff;
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        z-index: -1;
        animation: 10s animation linear infinite alternate;
    }
    @keyframes animation {
        0% {
            transform: translateX(40px) scale(0.9);
            box-shadow: none;
        }
        50% {
            transform: translate(0px,0px) scale(1.02);
            box-shadow: 0 0 10px #fff, 0 0 80px 2px #fff;
        }
        100% {
            transform: translateX(-40px) scale(0.9);
            box-shadow: none;
        }
    } 

    .star {
        position: absolute;
        background-color: #fff;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        animation: twinkle 2.5s linear infinite;
    }
    
    @keyframes twinkle {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }


@media screen and (max-width: 600px) {
    .container {
        width: 90vw; 
    }
    .h {
        margin-top: 5%;
        margin-left: -25%;
    }
    .i {
        margin-top: -5%;
        margin-left: 25%;
    }
    .j {
        margin-top: 40%;
        margin-left: -15%;
    }
    .b {
        margin-top: 70%;
        margin-left: 10%;
    }
}